
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>
<div class="page-wrapper">
    <header th:replace="fragment/header :: header"></header>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('/fe/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Giỏ hàng</h1>
            </div>
        </div>
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
            </div>
        </nav>

        <div class="page-content">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng giá</th>
                                </tr>
                                </thead>
                                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
                                <div th:if="${cartItems.isEmpty()}" class="alert alert-info">Giỏ hàng đang trống, hãy mua hàng để ủng hộ chúng tôi</div>
                                <tbody th:unless="${cartItems.isEmpty()}">
                                <tr th:each="item : ${cartItems}">
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <img th:src="@{/images/{image}(image=${item.product.image})}" alt="Product image">
                                            </figure>
                                            <h3 class="product-title" th:text="${item.product.name}"></h3>
                                        </div>
                                    </td>
                                    <td class="price-col" th:text="${item.product.price}"></td>
                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">
                                            <form th:action="@{/cart/update}" method="post">
                                                <input type="hidden" name="productId" th:value="${item.product.id}" />
                                                <input type="number" class="form-control" name="quantity" th:value="${item.quantity}" min="1" max="${item.product.stock}" step="1" data-decimals="0" required>
                                            </form>
                                        </div>
                                    </td>
                                    <td class="total-col" th:text="${item.product.price * item.quantity}"></td>
                                    <td class="remove-col">
                                        <form th:action="@{/cart/remove/{id}(id=${item.product.id})}" method="get">
                                            <button type="submit" class="btn-remove"><i class="icon-close"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Tổng hóa đơn</h3>
                                <table class="table table-summary">
                                    <tbody>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td th:text="${totalPrice}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/order/checkout}" class="btn btn-outline-primary-2 btn-order btn-block">Mua hàng</a>
                            </div>
                            <a th:href="@{/products}" class="btn btn-outline-dark-2 btn-block mb-3"><span>Tiếp tục mua sắm</span><i class="icon-refresh"></i></a>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragment/footer :: footer"></footer>
</div>
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
<script th:replace="fragment/script :: script"></script>
</body>
</html>
